@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');
body{
    font-family: Raleway;
    margin:0;
}
/*
div{
    border: 1px solid black;
}*/

#header{
    width: 100%;
    height:10%;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    margin-right:2%;
}


.logo{
    float: left;
    text-align: left;
    padding-left: 2%;
    padding-top:2%;
    padding-bottom: 2%;
}

.logo img{
    display:inline-block;
    width:35%;
}

nav{
    display:flex;
    flex-flow:row nowrap;
    width:100%;
    justify-content:flex-end;
}

.inside_nav{
    border-top: 2px solid transparent;
    display:flex;
    flex-flow:row nowrap;
    padding-top:4%;
    padding:20%;
    margin-right:5%;
}

.inside_nav a{  
    text-decoration: none;
    color:grey;
}

.inside_nav:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.inside_nav a:hover{
    color:#0065FC;
}

.main_container{
    margin-left:2%;
    margin-right:2%;
    display:flex;
    flex-direction: column;
}

.search {
    height:30%;
}

.line{
    line-height:5px;
    padding-bottom:1%;
}

#recherche{
    display: flex;
    height:50px;
    flex-flow: row nowrap;
    align-items: center;
}

.loc{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width:50px;
    height:100%;
    outline: 1px solid #F2F2F2;
    padding-top: 1px;
}

.input_form{
    height:50px;
}

input{
    height:100%;
    padding-top:1px;
    border-style: none;
    outline:1px solid #F2F2F2;
    width:240px;
    font-size: 14pt;
    font-weight: 300;
}

.hidden{
    display: none;
}

#search_but{
    width:130px;
    height: 100%;
    font-size: 14pt;
    font-weight: 300;
    background-color: #0065FC;
    color:white;
    margin-left:-5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border:none;
}

.filters{
    display:flex;
    flex-flow:row wrap;
    align-items: baseline;
    padding-top: 1%;
    padding-bottom: 1%;
}

.fil{
    margin-left:2%;
    margin-top:2%;
    max-height:44px;
    border:1px solid #ccc8c8;
    border-radius: 50px;
    border-left:0px;
    display: flex;
    flex-flow: row nowrap;
    align-items:center;
}

.information{
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-bottom: 3%;
}

.info{
    color:#0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    width:14px;
    padding:6px;
    text-align: center;
    margin-right: 10px;
}

.icon {
    padding: 12pt;
    font-size: 12pt;
    color:#0065FC;
    background:hsl(216, 100%, 94%);
    border-radius: 45px;
    text-align: center;
    margin-right:0;
  }

.filters .word{
    margin:2px;
    margin-right:14px;
    margin-left: 6px;
}

.fil:hover {
    color:#0065FC;
    border-color: #0065FC;
}

.fil:hover .icon{
    color:hsl(216, 100%, 94%);
    background-color: #0065FC;
}

.main_section{
    width:100%;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
}

.hide_a{
    text-decoration: none;
    color:black;
    overflow: hidden;
    width:100%;
    height: 100%;
}

.horizontal_a{
    display: flex;
    flex-flow:row nowrap;
}

.heber{
    width:63%;
    height:auto;
    border-radius: 15px;
    background-color: #F2F2F2;
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-between;
}

.heber_header, .heber_footer{
    padding-left: 4%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.heber_header{
    align-items:flex-end ;
}

.heber_footer{
    align-items: flex-start;
}

.heber_header h4{
    padding-top:10px;
    margin:0;
}

.heber_footer h5{
    padding-bottom:10px;
    margin:0;
}


.card_holder{
    max-width:100%;
    height:70%;
    display:flex;
    flex-flow:row wrap;
    align-content:space-around;
    justify-content:space-evenly;
}

.card{
    max-width:28%;
    max-height:41%;
    display: flex;
    flex-flow:column nowrap;
    border:3px solid white;
    border-radius: 15px;
    background: white;
    box-shadow: 2px 2px 10px rgb(199, 195, 195);
}


.img_holder{
    width:100%;
    height:60%;
    overflow:hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.photo_gallery{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.legend_holder{
    width: 94%;
    height: 35%;
    padding-left:5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.leg_word_hold{
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-evenly;
    width:100%;
    height:95%;
    padding-top: 2%;
    font-size: 9pt;
}

.leg_word_hold p{
    margin:0;
    line-height: 18px;
}

.rating{
    width: 100%;
    height:10%;
    font-size: 9pt;
    margin-bottom:3px;
}

.heber_footer a{
    text-decoration: none;
    color:black;

}

.pop{
    display: flex;
    width:34%;
    height:auto;
    background: #F2F2F2;
    flex-flow: column nowrap;
    border-radius:15px;
    justify-content: space-between;
    
}

.pop_header{
    display: flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:flex-end;
    width: 85%;
    height:10%;
    padding-left: 4%;
    padding-right: 4%;
}

.head_h4 h4{
    margin:0px;
}

.pop_card_holder{
    width:100%;
    height:85%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
    padding-left: 4%;
}

.pop_card{
    display: flex;
    flex-flow: row nowrap;
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(199 195 195);
    margin-top: 4%;
    margin-bottom: 4%;
    background: white;
    max-width: 80%;
    height: 25%;
}

.pop_img_holder{
    width:45%;
    height:100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow:hidden;

}

.pop_card img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.pop_leg_holder{
    width: 70%;
    height: 99%;
    font-size: 8pt;
    display: flex;
    padding-left:4%;
    flex-flow: column nowrap;
    justify-content:space-between;
    align-items: flex-start;
    background: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.words_pop{
    width:85%;
    font-size:9pt;
    line-height:15px;
}

.act{
    width:100%;
    height:530px;
    border-radius: 15px;
    margin-bottom:1%;
    margin-top: 1%;
}

.act_cont{
    display:flex;
    flex-flow: column wrap;
    align-content:space-between;
    justify-content: flex-start;
    width:100%;
    height:480px;
}

.act_card{
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    width:23%;
    height:90%;
    position:relative;
    box-sizing:border-box;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(199, 195, 195);2px 2px 10px rgb(199, 195, 195);
    margin:6px;
    font-size:9pt;
    font-weight:500;
}

.act_card:hover{
    box-shadow:-1px -1px 20px #dce5f3;
    opacity: 0.8;
    background:linear-gradient(#dce5f3,white);
    padding:1px;
}

.act_card:nth-child(2), .act_card:nth-child(3),.act_card:nth-child(5),.act_card:nth-child(6){
    height:43%;
    padding-bottom:1%;
}

.act_img_holder{
    width:100%;
    height:85%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow:hidden;
}

.act_leg{
    height:10%;
    margin:4%;
    width:80%;
}

.act_leg>a{
    text-decoration: none;
    color:black;
}

footer{
    background-color: #F2F2F2;
    padding:2%;
}

.foot{
    width:100%;
    background-color:#F2F2F2;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.foot_col{
    width:20%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-right:100px;
    padding-left:2%;
}

.bot{
    margin-bottom:15px;
}

footer a{
    text-decoration: none;
    color:black;
    margin-bottom:10px;
}

.BL{
    font-weight: 600;
    font-size: 19pt;
}

.BM{
    font-weight: 500;
    font-size: 16pt;
}

.BBM{
    font-weight:600;
    font-size: 18pt;
}

.BMS{
    font-weight: 500;
    font-size: 14pt;
}

.BS{
    font-weight: 500;
    font-size: 12pt;
}

.RL{
    font-weight: 300;
    font-size: 16pt;
}

.RM{
    font-weight: 300;
    font-size: 14pt;
}


.blue{
    color:#0065FC;
}
.grey{
    color:#F2F2F2;
}

@media screen and (min-width:1300px){
    
    .leg_word_hold{
        font-size: 12pt;
    }

    .words_pop{
        font-size:12pt;
    }

    body, body:not(footer){
        margin-left:auto;
        margin-right:auto;
        max-width:1400px;
    }

    footer{
        margin-left:0px;
        margin-right:0px;
    }
}
