@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

body{
    font-family: Raleway;
    margin:0;
}
/*
div{
    border: 1px solid black;
}*/

#header{
    width:100%;
    height:20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top:4%;
}

.logo{
    text-align: center;
    padding-left:0;
}

.logo img{
    display:inline-block;
    width:50%;
}

.nav{
    width:100%;
}

nav{
   display: flex;
   flex-flow: row nowrap;
   width:100%;
}

.inside_nav{
    border-bottom:2px solid #f2f2f2;
    width:100%;
    padding-top:30px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;;
}

.nav a{
    text-decoration: none;
    color:black;
}

.inside_nav:hover{
    border-bottom:2px solid #0065FC;
    border-top:0px;
}

.inside_nav a:hover{
    color:#0065FC;
}

.main_container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.search{
    width:90%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.line{
    display: flex;
    flex-flow:column wrap;
    align-items:center;
}

.line h3{
text-align:justify;
}

.line p{
margin-top:0px;
}

#recherche{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loc{
display:flex;
justify-content:center;
align-items:center;
background:#F2F2F2;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
width:50px;
height:50px;
outline: 1px solid #F2F2F2;
}

input{
    height:50px;
    padding-top:1px;
    border-style: none;
    outline:1px solid #F2F2F2;
    width:55vmin;
    font-size: 9pt;
}

.hidden{
    display: none;
}

#search_but{
    width:95px;
    height: 50px;
    font-size: 9pt;
    font-weight: 300;
    background-color: #0065FC;
    color:white;
    margin-left:-5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:none;
}

.filters{
display:flex;
flex-flow:row wrap;
}

.filter_word{
width:100%;
}

.fil{
    margin-left:2%;
    margin-bottom:2%;
    height:40px;
    border:1px solid #ccc8c8;
    border-radius: 50px;
    border-left:0px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.word{
padding:15px;
}

.filters h4{
border:0px;
margin-top:25px;
margin-left: 15px;
}

.info{
color:#0065FC;
border: 1px solid #F2F2F2;
border-radius: 50px;
width:10px;
height: 10px;
padding:5px;
text-align: center;
line-height: 1px;
margin-right: 10px;
}

.icon {
    padding: 15px;
    color:#0065FC;
    background:hsl(216, 100%, 94%);
    max-width: 20px;
    max-height:20px;
    border-radius: 45px;
    text-align: center;
    margin-right:0;
}

.information{
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-bottom: 2%;
    margin-top: 2%;
}

.info{
    color:#0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    width:10px;
    height: 10x;
    padding:3px;
    text-align: center;
    margin-right: 10px;
}

.icon {
    padding: 10px;
    color:#0065FC;
    background:hsl(216, 100%, 94%);
    max-width: 20px;
    max-height:20px;
    border-radius: 45px;
    text-align: center;
    margin-right:0;
  }

.filters .word{
    margin:2px;
    margin-right:14px;
    margin-left: 6px;
}

.fil:hover {
    color:#0065FC;
    text-shadow:2px 1px 5px#dce5f3;
    border-color: #0065FC;
    box-shadow:-1px -1px 10px #dce5f3;
}

main{
    width:100%;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-between;
    align-items: center;
}

#body{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    width:100%;
}

.heber{
    width:90%;
    height:500px;
    border-radius: 15px;
    background-color: #F2F2F2;
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-between;
}

.hide_a{
    text-decoration: none;
    color:black;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.horizontal_a{
    display: flex;
    flex-flow:row nowrap;
}

.heber_header, .heber_footer{
    padding-left: 4%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.heber_header{
    align-items:flex-end ;
}

.heber_footer{
    align-items: flex-start;
}

.heber_header h4{
    padding-top:10px;
    margin:0;
}

.heber_footer h5{
    padding-bottom:10px;
    margin:0;
}



.card_holder{
    max-width:100%;
    height:70%;
    display:flex;
    flex-flow:row wrap;
    align-content:space-around;
    justify-content:space-evenly;
}

.card{
    max-width:28%;
    max-height:41%;
    display: flex;
    flex-flow:column nowrap;
    border:3px solid white;
    border-radius: 15px;
    background: white;
    box-shadow: 2px 2px 10px rgb(199, 195, 195);
}

.card:nth-child(4) .img_holder{
    height: 100%;
}
.card:nth-child(5) .legend_holder{
    height:20%;
}
.card:nth-child(6) .img_holder {
    height: 100%;
}

.img_holder{
    max-width:100%;
    max-height:65%;
    overflow:hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.photo_gallery{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.legend_holder{
    width: 94%;
    font-size: 8pt;
    padding-left:5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.legend_holder p{
    margin:0;
    line-height: 16px;
}

.heber_footer a{
    text-decoration: none;
    color:black;
}

.pop{
    display: flex;
    width:90%;
    height:650px;
    background: #F2F2F2;
    flex-flow: column nowrap;
    border-radius:15px;
    justify-content: space-between;
    margin-top:4%;
}

.pop_header{
    display: flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:flex-end;
    width: 90%;
    height:10%;
    padding-left: 4%;
    padding-right: 4%;
}

.head_h4 h4{
    margin:0px;
}

.pop_card_holder{
    width:100%;
    height:90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
    padding-left: 4%;
}

.pop_card{
    display: flex;
    flex-flow: row nowrap;
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(199 195 195);
    margin-top: 2%;
    margin-bottom: 2%;
    background: white;
    max-width: 90%;
    height: 25%;
}

.pop_img_holder{
    width:60%;
    height:100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow:hidden;

}

.pop_card img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.pop_leg_holder{
    width: 40%;
    height: 99%;
    font-size: 8pt;
    display: flex;
    padding-left:4%;
    flex-flow: column nowrap;
    justify-content:space-between;
    align-items: flex-start;
    background: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.words_pop{
    width:85%;
    height:100%;
    font-size:9pt;
    line-height:15px;
}

#act{
    width:90%;
    height:730px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 15px;
    margin-bottom:1%;
    margin-top: 1%;
}

.act_cont{
    display:flex;
    flex-flow: row wrap;
    width:100%;
    height:450px;
}

.act_card{
    display: flex;
    flex-flow:row wrap;
    align-self:flex-start;
    height:40%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(199, 195, 195);2px 2px 10px rgb(199, 195, 195);
    font-size:9pt;
    font-weight:500;
    margin:2%;
}

.act_card:hover{
    box-shadow:-1px -1px 20px #dce5f3;
    opacity: 0.8;
    background:linear-gradient(#dce5f3,white);
}

.act_card:nth-child(1), .act_card:nth-child(4),.act_card:nth-child(5){
    width:60%;
}

.act_card:nth-child(2), .act_card:nth-child(3),.act_card:nth-child(6){
    width:32%;
}

.act_img_holder{
    width:100%;
    height:85%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow:hidden;
}

.act_leg{
    height:40px;
    width:80%;
    padding-top:8px;
}

.act_leg>a{
    
    margin-left:15px;
    text-decoration: none;
    color:black;
}

footer{
    background-color: #F2F2F2;
    padding:2%;
    height: 10%;
}

.foot{
    width:100%;
    background-color:#F2F2F2;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.foot_col{
    width:20%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-right:100px;
    padding-left:2%;
}

.bot{
    margin-bottom:15px;
}

footer a{
    text-decoration: none;
    color:black;
    margin-bottom:10px;
}

.B22{
    font-weight: 600;
    font-size: 16px;
}

.B9{
    font-weight: 500;
    font-size: 9pt;
}

.B16{
    font-weight: 500;
    font-size: 14px;
}

.B14{
    font-weight: 500;
    font-size: 10px;
}
.L16{
    font-weight: 300;
    font-size: 10pt;
}
.L9{
    font-weight:300;
    font-size:9pt;
}
.L14{
    font-weight: 300;
    font-size: 8pt;
}

.blue{
    color:#0065FC;
}
.grey{
    color:#F2F2F2;
}

.line{
    line-height:5px;
    padding-bottom:5px;
}